{% if intervenants is empty %}

    <p>Aucun intervenant</p>

{% else %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Emploi</th>
                <th scope="col">Diplome</th>
                <th scope="col">Domaines</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for intervenant in intervenants %}

                <tr>
                    <td>{{ intervenant.nom }}</td>
                    <td>{{ intervenant.prenom }}</td>
                    <td>{{ intervenant.emploi }}</td>
                    <td>{{ intervenant.diplome }}</td>
                    <td>{{ intervenant.domaines|join(', ')[:50] ~ '...' }}</td>
                    <td>

                        <a class="btn btn-info"
                           href="{{ path('show_intervenant', { id: intervenant.id }) }}"
                           role="button">
                           Afficher
                        </a>

                        {% if is_granted('ROLE_GESTION') or is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-secondary"
                               href="{{ path('edit_intervenant', { id: intervenant.id }) }}"
                               role="button">
                               Modifier
                            </a>

                            <button
                                type="button"
                                class="btn btn-warning"
                                data-toggle="modal" data-target="#modal-delete"
                                data-libelle="{{ intervenant.nom }} {{ intervenant.prenom }}"
                                data-pathdel="{{ path('delete_intervenant', { id: intervenant.id }) }}">
                                Supprimer
                            </button>
                        {% endif %}

                    </td>

                </tr>

            {% endfor %}

        </tbody>
    </table>

{% endif %}
