{% extends 'base.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap4.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-form.css') }}" />

{% endblock %}

{% block body %}

    <h1>Formulaire ?</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia, autem ex ipsa unde, voluptate in rem distinctio quas, dignissimos, incidunt fugit perferendis ducimus dolor.</p>

	{{ form_start(form) }}

        <div class="form-row">

            <div class="form-group col-md-3">

                {{ form_row(form.nom) }}

            </div>

            <div class="form-group col-md-3">

                {{ form_row(form.prenom) }}

            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.mail) }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                    {{ form_widget(form.mail) }}
                </div>
           </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-8">

                {{ form_row(form.adresse) }}

            </div>

            <div class="form-group col-md-4">

                {{ form_row(form.cp) }}

            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-6">

                {{ form_label(form.telFixe) }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    {{ form_widget(form.telFixe) }}
                </div>

            </div>

            <div class="form-group col-md-6">

                {{ form_label(form.telPortable) }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-mobile"></i>
                        </div>
                    </div>
                    {{ form_widget(form.telPortable) }}
                </div>

            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md">

                 {{ form_row(form.emploi) }}

            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-8">

                {{ form_row(form.diplome) }}

            </div>

            <div class="form-group col-md-4">

                {{ form_row(form.niveau) }}

            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md">

                {{ form_row(form.new_domaines) }}

            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md">

                {{ form_row(form.file) }}

            </div>

        </div>

		<button class="btn btn-primary" type="submit">Enregistrer</button>

	{{ form_end(form) }}

{% endblock %}

{% block js %}

    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/intervenant-form.js') }}"></script>

{% endblock %}
