{% extends 'base.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap4.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-form.css') }}" />

{% endblock %}

{% block body %}

    <div class="jumbotron p-4">
        <div class="container">

            <h1>Recherche des intervenants</h1>

            <hr class="my-4">

            {{ form_start(form) }}

                <div class="form-row">

                    <div class="form-group col-md-3">

                        {{ form_row(form.nom) }}

                    </div>

                    <div class="form-group col-md-3">

                        {{ form_row(form.prenom) }}

                    </div>

                    <div class="form-group col-md-6">

                        {{ form_row(form.emploi) }}

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">

                        {{ form_row(form.diplome) }}

                    </div>

                    <div class="form-group col-md-6">

                        {{ form_row(form.niveau) }}

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md">

                        {{ form_row(form.domaines) }}

                    </div>

                </div>

        		<button class="btn btn-primary" type="submit">Rechercher</button>

        	{{ form_end(form) }}

        </div>
    </div>

    <div class="container-fluid">

        <div class="row justify-content-md-center">
            <div class="col-10">

                {% include 'intervenant/_table.html.twig' %}

                {% if intervenants %}

                    <div class="pagination justify-content-center">
                        {{ knp_pagination_render(intervenants) }}
                    </div>

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}

{% block js %}

    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/intervenant-search-form.js') }}"></script>
    <script src="{{ asset('js/modal-delete.js') }}"></script>

{% endblock %}
