{% extends 'base.html.twig' %}

{% block css %}

    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap4.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/list-intervenant.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}" />

{% endblock %}

{% block body %}

    <div class="jumbotron p-4">
        <div class="container">

            <h1>Recherche des intervenants</h1>

            <hr class="my-4">

            {{ form_start(form) }}

                <div class="form-row">

                    <div class="form-group col-md-3">

                        {{ form_row(form.nom) }}

                    </div>

                    <div class="form-group col-md-3">

                        {{ form_row(form.prenom) }}

                    </div>

                    <div class="form-group col-md-6">

                        {{ form_row(form.emploi) }}

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">

                        {{ form_row(form.diplome) }}

                    </div>

                    <div class="form-group col-md-6">

                        {{ form_row(form.niveau) }}

                    </div>

                </div>

                <div class="form-row my-0">

                    <div class="form-group col-md-9">

                        {{ form_row(form.domaines) }}

                    </div>

                    <div class="form-group my-0 col-md-3">

                        {{ form_row(form.date) }}

                    </div>

                </div>

                <small class="form-text text-muted mb-3">* Choisissez une date pour afficher les cv qui n'ont pas était mis à jour avant celle-ci.</small>

        		<button class="btn btn-primary" type="submit">Rechercher</button>

        	{{ form_end(form) }}

        </div>
    </div>

    <div class="container-fluid">

        <div class="row justify-content-md-center">
            <div class="col-10">

                {% include 'intervenant/_table.html.twig' %}

                {% if intervenants is not empty %}

                    <div class="pagination justify-content-center">
                        {{ knp_pagination_render(intervenants) }}
                    </div>

                {% endif %}

                {% if is_granted('ROLE_GESTION') or is_granted('ROLE_ADMIN') %}

                    {# Modal confirmation #}
                    {% include 'modules/del_confirm.html.twig' %}

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}

{% block js %}

    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/intervenant-search-form.js') }}"></script>
    <script src="{{ asset('js/modal-delete.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.fr.js') }}" charset="UTF-8"></script>

{% endblock %}
