{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="my-5">
            <div class="jumbotron">

                <h1 class="mb-4">
                    {% if editMode %}
                        Modification
                    {% else %}
                        Ajout
                    {% endif %}
                    {{ title }}
                </h1>

                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button class="btn btn-primary my-2" type="submit">

                        {% if editMode %}
                            Modifier
                        {% else %}
                            Enregistrer
                        {% endif %}

                    </button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="{{ asset('js/submit-form.js') }}"></script>

{% endblock %}
