{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="row justify-content-md-center">
            <div class="col-10">

                <div class="my-4">
                    <h1>{{ title }}</h1>

                    <div class="float-right" style="margin-top: -30px;">
                        <a class="btn btn-primary" href="{{ path('new_' ~ name) }}" role="button">Ajouter</a>
                    </div>

                    <hr class="my-4">

                </div>

                {% if collection is empty %}

                    <p class="m-5 lead text-center">Aucune donnée trouvée..</p>

                {% else %}

                    {% set banArr = [0 ,'id', 'libelle', 'username', 'size'] %}

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                {% for key, item in collection[0] %}
                                    {% if key not in banArr %}
                                        <th scope="col">{{ key|replace({'_': " ", '1': "'"}) }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for data in collection %}

                                <tr>
                                    {% for key, intitule in data %}
                                        {% if key not in banArr %}
                                            <td>{{ intitule }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>

                                        {% if data.username is defined and data.username == app.user.username %}
                                            Aucune
                                        {% else %}

                                            <a class="btn btn-warning"
                                               href="{{ path('edit_' ~ name, { id: data.id }) }}"
                                               role="button">
                                               Modifier
                                            </a>

                                            {% if data.size is not defined or data.size < 1 %}

                                                <button
                                                    type="button"
                                                    class="btn btn-danger"
                                                    data-toggle="modal" data-target="#modal-delete"
                                                    data-libelle="
                                                        {% if data.libelle is defined %}
                                                            {{ data.libelle }}
                                                        {% elseif data.username is defined %}
                                                            {{ data.username }}
                                                        {% endif %}
                                                    "
                                                    data-pathdel="{{ path('delete_' ~ name, { id: data.id }) }}">
                                                    Supprimer
                                                </button>

                                            {% endif %}

                                        {% endif %}

                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>

                    {% if collection is not empty %}

                        <div class="pagination justify-content-center">
                            {{ knp_pagination_render(collection) }}
                        </div>

                    {% endif %}

                    {# Modal confirmation #}
                    {% include 'modules/del_confirm.html.twig' %}

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}

{% block js %}

    <script src="{{ asset('js/modal-delete.js') }}"></script>

{% endblock %}
